<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- 默认日志级别 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
    
    <!-- 设置Spark相关日志级别为WARN -->
    <logger name="org.apache.spark" level="WARN" />
    <logger name="org.spark_project" level="WARN" />
    <logger name="org.apache.hadoop" level="WARN" />
    
    <!-- 关闭Spark REPL相关日志 -->
    <logger name="org.apache.spark.repl.Main" level="WARN" />
    <logger name="org.apache.spark.repl.SparkIMain" level="WARN" />
    
    <!-- 设置Kafka相关日志级别 -->
    <logger name="org.apache.kafka" level="WARN" />
    <logger name="kafka" level="WARN" />
</configuration> 